.UnoCardDeck {
  display: flex;
  flex-direction: row;
  position: relative;

  overflow: hidden;
  //width: 100dvw;

  //&:hover .UnoCard:not(:hover) {
  //  filter: brightness(0.95) drop-shadow(0 5px 5px rgba(0, 0, 0, 0.8));
  //}

  .UnoCard {
    transition: margin-left 0.15s cubic-bezier(0, 0.5, 0.75, 1),
    transform 0.1s ease-in-out,
    filter 0.1s ease-in-out;

    position: relative;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.8));

	  $width: 10dvw;
	  width: $width;
	  padding-top: 25px; // extra space when highlighting cards to the top
	  svg {
		  width: 100%;
		  height: auto;
	  }

    &:not(:first-child) {
      margin-left: -$width*.65; // hide 65%
    }

    &:hover + .UnoCard {
      margin-left: -$width*.35; // hide 35%
    }

    &:hover {
      transform: translateY(-10px) rotate(0.75deg);
      filter: drop-shadow(0 5px 6px rgba(0, 0, 0, 0.9));
    }
  }
}