.UnoCardDeck {
	position: relative;
	transform-style: preserve-3d;
	perspective: 750px;
	perspective-origin: 125px;

	//height: 350px;
	//width: 250px;
	$size: min(10vw, 14vh);
	height: calc($size * (350 / 250));
	width: calc($size);


	&.Highlight {
		animation: highlight-deck 1.5s infinite ease-out;
		@keyframes highlight-deck {
			20%, 60% {
				transform: scale(1.065) translateY(-1.65%);
			}
			40%, 80% {
				transform: none;
			}
		}
	}

	&.Highlight .Card {
		filter: drop-shadow(1px -3px 5px rgb(185, 185, 185));
	}

	.Card {
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 10%;
		box-shadow: 0 0 10px black;
		background: var(--uno-card-background);
		transition: filter 1s ease-out;

		@for $i from 1 through 10 {
			&:nth-child(#{$i}) {
				top: #{($i - 1) * 2.5%};
				transform: rotateX(55deg) rotateZ(-30deg + (random(30)-15)*.1);
			}
		}
	}
}