.UnoPlayerDisplay {
	display: flex;
	gap: 35px;

	* {
		transition: box-shadow .25s;
	}

	&.Left {
		transform: rotateZ(-90deg);

		.Info {
			transform: rotateZ(90deg);
		}
	}

	&.Right {
		transform: rotateZ(90deg);

		.Info {
			transform: rotateZ(-90deg);
		}
	}

	$cardWidth: max(5.5vh, min(100px, 6vw));

	.Cards {
		display: flex;
	}

	.Card {

		width: $cardWidth;
		height: auto;
		border-radius: 10%;

		&:not(:first-child) {
			margin-left: calc($cardWidth * -.75);
		}

		& {
			animation: draw .35s ease backwards;

			&.Init {
				@for $i from 1 through 100 {
					&:nth-child(#{$i}) {
						animation-delay: $i*.25s;
					}
				}
			}

			@keyframes draw {
				from {
					transform: translateY(calc($cardWidth * -.35));
					opacity: 0;
					margin-left: calc($cardWidth * -1);
				}
				33% {
					opacity: 1;
				}
			}
		}
	}

	&.Current .Card {
		filter: drop-shadow(0 0 6px #fbeb41);
	}

	&.Current .Info .Image {
		filter: drop-shadow(0 0 10px rgba(0, 0, 0, .5));
		color: rgba(255, 255, 255, .45);

		svg, img {
			color: rgba(255, 255, 255, .6);
		}
	}

	.Info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 5px;

		.Image {
			background: white;
			width: 65px;
			height: 65px;
			background: rgba(0, 0, 0, .15);
			border: rgba(0, 0, 0, .2) 1px solid;
			border-radius: 25%;
			filter: drop-shadow(0 0 1px rgba(0, 0, 0, .5));
			margin: 0 auto;

			@media (width <= 1000px) or (height <= 500px) {
				width: 45px;
				height: 45px;
			}

			svg, img {
				width: 100%;
				height: 100%;
				color: rgba(255, 255, 255, .15);
			}
		}

		.Title {
			color: white;
			font-family: 'Poppins', sans-serif;
			font-weight: 300;
			text-align: center;

			@media (width <= 1000px) or (height <= 500px) {
				font-size: 14px;
			}
		}
	}
}

.UnoPlayerDisplayWrapper {
	display: flex;
	gap: 40px;

	.Players {
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: rgba(255, 255, 255, 0.75);
		text-align: center;
		background: rgba(0, 0, 0, .01);
		padding: 0 15px;
		border-radius: 5px;
		border: rgba(0, 0, 0, .25) 2px solid;

		svg {
			width: 45px;
			height: auto;
		}

		p {
			font-size: 20px;
			font-family: "Roboto Medium", sans-serif;
		}

		&.Before {
			animation: player-cards-appear-before .35s ease backwards;
			@keyframes player-cards-appear-before {
				from {
					opacity: 0;
					transform: translateX(-50%);
				}
			}
		}

		&.After {
			animation: player-cards-appear-after .35s ease backwards;
			@keyframes player-cards-appear-after {
				from {
					opacity: 0;
					transform: translateX(50%);
				}
			}
		}
	}
}