.LobbyScreen {
	height: 100%;
	width: 100%;
	display: grid;
	place-items: center;

	.Panel {
		padding: clamp(15px, 3dvh, 25px) clamp(25px, 3.5dvw, 75px);
		width: 50dvw;
		background: var(--background-secondary);
		border-radius: 15px;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, .25);

		@media (width <= 1200px) {
			width: 60dvw;
		}
		@media (width <= 1100px) {
			width: 70dvw;
		}
		@media (width <= 1000px) {
			width: 80dvw;
		}

		.Header {
			width: 100%;
			color: white;
			font-family: Poppins, sans-serif;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 25px;
			gap: 15px;

			.Title {
				font-size: 1.4rem;
				display: inline-flex;
				gap: 15px;
			}

			.Ping {
				color: rgba(255, 255, 255, .45);
				margin: auto 0;
				font-size: .9rem;
			}

			.Button {
				user-select: none;
				margin: auto 0;
				background: var(--primary);
				padding: 4px 12px;
				border-radius: 7px;
				cursor: pointer;
				display: flex;
				gap: 5px;
				text-align: center;
				transition: transform .15s ease;

				svg {
					margin: auto;
				}

				&.Locked {
					filter: brightness(50%);
					cursor: not-allowed;
				}

				&:hover {
					transform: translateY(1.5px);
				}
			}
		}

		.Content {
			display: flex;
			gap: 15px;
			margin-bottom: 10px;

			@media (width <= 800px) {
				flex-direction: column;
			}

			.Players {
				width: 50%;
				display: flex;
				flex-direction: column;
				gap: 10px;

				@media (width <= 800px) {
					width: auto;
				}

				.Player {
					background: rgba(0, 0, 0, .15);
					color: rgba(255, 255, 255, .85);
					padding: 10px 30px;
					border-radius: 7px;
					font-family: Quicksand, sans-serif;

					&:first-child {
						font-weight: 500;
					}
				}
			}

			.Border {
				margin-top: -15px;
				margin-bottom: -15px;
				width: 2px;
				background: rgba(255, 255, 255, .1);
			}

			.LobbySettings {
				width: 50%;
			}
		}
	}
}