.Overview {
	padding: 5dvh 25dvw;
	//box-sizing: border-box;
	//height: 100dvh;
	margin: auto 0;
	display: flex;
	flex-direction: column;
	gap: 50px;

	.Category {

		.Title {
			display: flex;
			justify-content: space-between;

			.Left {
				margin-left: 5px;
				color: rgba(255, 255, 255, 0.9);
				font-family: 'Poppins', sans-serif;
				font-size: 24px;
				font-weight: 500;
			}

			.Right {
				display: flex;
				flex-direction: row;
				gap: 10px;

				color: rgba(255, 255, 255, 0.4);

				svg {
					margin: auto 0;
					font-size: 30px;
				}

				.Time {
					margin: auto 0;
					font-size: 20px;
				}
			}

		}

		.Cards {
			margin-top: 15px;
			gap: 15px;
			display: flex;
			flex-direction: column;

			.LobbyCard {
				display: grid;
				padding: 10px 20px;
				box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
				background: rgba(0, 0, 0, .05);
				border-radius: 8px;
				color: rgba(255, 255, 255, 0.9);
				font-family: 'Quicksand', sans-serif;
				font-size: 18px;

				grid-template-rows: 1fr;
				grid-template-columns: auto auto 1fr auto;
				grid-template-areas: "a b c d";
				column-gap: 10px;

				svg {
					grid-area: a;
					margin: auto;
					font-size: 20px;
				}
				.Name {
					grid-area: b;
				}

				animation: spawn 550ms cubic-bezier(.4, .75, .64, .99);

				@keyframes spawn {
					from {
						transform: translateY(-15px);
						opacity: 0.1;
					}
				}
			}
		}

	}
}
