:root {
	--uno-red: #D72600;
	--uno-blue: #0956BF;
	--uno-green: #379711;
	--uno-yellow: #ECD407;
	--uno-black: #171614;
	--uno-card-background: white;
}

.UnoView {
	user-select: none;
	overflow: hidden;

	width: 100dvw;
	height: 100dvh;

	display: grid;
	place-items: center;
	grid-template-columns: 15% auto 15%;
	grid-template-rows: 20% auto 30%;

	.UnoPlayerDisplay.Top, .UnoPlayerDisplayWrapper.Top {
		grid-area: 1 / 2;
	}
	.UnoPlayerDisplay.Left {
		grid-area: 2 / 1;
	}
	.UnoPlayerDisplay.Right {
		grid-area: 2 / 3;
	}

	.PlayCards {
		grid-area: 2 / 2;
		display: flex;
		position: relative;

		.UnoCardDeck {
			position: absolute;
			left: 100%;
			top: -25%;
		}

		.DrawCounter {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			font-size: 150px;
			text-shadow: 5px 5px 15px #2e0b2e;
			color: purple;
			font-family: Quicksand, sans-serif;
			font-weight: 700;
			animation: animate-draw-counter 2.5s cubic-bezier(.37,.03,.34,.98) forwards;

			@keyframes animate-draw-counter {
				0%, 100% {
					opacity: 0;
					transform: translate(-50%, -50%) scale(0.5);
				}
				10% , 90%{
					opacity: 1;
					transform: translate(-50%, -50%);
				}
			}
		}
	}

	.UnoOwnedCards {
		grid-area: 3 / 2;
	}
}