
.UnoWinner {
	top: 0;
	user-select: none;
	overflow: hidden;
	z-index: 1000;

	width: 100dvw;
	height: 100dvh;

	position: absolute;
	background: rgba(0, 0, 0, .45);

	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	svg {
		font-size: 150px;
	}

	p {
		font-size: 40px;
		font-family: "Poppins", sans-serif;
	}

	.Button {
		padding: 5px 20px;
		background: rgba(255, 255, 255, .85);
		border-radius: 12px;
		margin-top: 35px;
		font-size: 20px;
		color: black;
		font-family: "Poppins", sans-serif;
		cursor: pointer;
	}

	animation: win .5s ease-in-out;

	@keyframes win {
		from {
			opacity: 0;
		}
	}
}

.UnoView {
	user-select: none;
	overflow: hidden;

	width: 100dvw;
	height: 100dvh;

	display: grid;
	place-items: center;
	grid-template-columns: 15% auto 15%;
	grid-template-rows: 20% auto 25%;

	.UnoPlayerDisplay.Top, .UnoPlayerDisplayWrapper.Top {
		grid-area: 1 / 2;
	}

	.UnoPlayerDisplay.Left {
		grid-area: 2 / 1;
	}

	.UnoPlayerDisplay.Right {
		grid-area: 2 / 3;
	}

	.PlayCards {
		grid-area: 2 / 2;
		display: flex;
		position: relative;

		.UnoCardDeck {
			z-index: 10;
			position: absolute;
			left: 95%;
			top: -20%;
		}

		.DrawCounter {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			font-size: 150px;
			text-shadow: 5px 5px 15px #2e0b2e;
			color: purple;
			font-family: Quicksand, sans-serif;
			font-weight: 700;
			animation: animate-draw-counter 2s cubic-bezier(.37, .03, .34, .98) forwards;

			@keyframes animate-draw-counter {
				0%, 100% {
					opacity: 0;
					transform: translate(-50%, -50%) scale(0.5);
				}
				10%, 90% {
					opacity: 1;
					transform: translate(-50%, -50%);
				}
			}
		}

		.PickColor {
			position: absolute;
			top: 50%;
			left: 50%;
			transform-style: preserve-3d;
			perspective: 500px;
			transform: translate(-50%, -60%);
			z-index: 100;

			span {
				display: grid;
				gap: 0;

				transform: rotateX(45deg) rotateZ(45deg);

				$size: 125px;
				$drop: 5.5px;
				$dropFade: 4px;
				$hoverScale: 8%;
				animation: pick-color-fade-in .3s ease;

				&.Hide {
					animation: pick-color-fade-out .3s ease forwards;
				}

				@keyframes pick-color-fade-in {
					from {
						opacity: 0;
						margin-bottom: -20px;
					}
					50% {
						opacity: 1;
					}
				}
				@keyframes pick-color-fade-out {
					50% {
						opacity: 1;
					}
					to {
						opacity: 0;
						margin-bottom: -20px;
					}
				}

				div {
					width: $size;
					height: $size;
					transition: transform .2s ease;
				}

				div:nth-child(1) {
					grid-area: 1 / 1;
					background: var(--uno-green);
					filter: drop-shadow($drop $drop $dropFade var(--uno-green));
					border-top-left-radius: 100%;

					&:hover {
						transform: scale(100% + $hoverScale) translate(-$hoverScale*.5, -$hoverScale*.5);
					}
				}

				div:nth-child(2) {
					grid-area: 1 / 2;
					background: var(--uno-yellow);
					filter: drop-shadow($drop $drop $dropFade var(--uno-yellow));
					border-top-right-radius: 100%;

					&:hover {
						transform: scale(100% + $hoverScale) translate($hoverScale/2, -$hoverScale/2);
					}
				}

				div:nth-child(3) {
					grid-area: 2 / 1;
					background: var(--uno-blue);
					filter: drop-shadow($drop $drop $dropFade var(--uno-blue));
					border-bottom-left-radius: 100%;

					&:hover {
						transform: scale(100% + $hoverScale) translate(-$hoverScale/2, $hoverScale/2);
					}
				}

				div:nth-child(4) {
					grid-area: 2 / 2;
					background: var(--uno-red);
					filter: drop-shadow($drop $drop $dropFade var(--uno-red));
					border-bottom-right-radius: 100%;

					&:hover {
						transform: scale(100% + $hoverScale) translate($hoverScale/2, $hoverScale/2);
					}
				}
			}
		}

		.DirectionArrows {
			position: absolute;
			top: 60%;
			left: 50%;
			transform: translate(-50%, -50%) rotateX(60deg) rotateZ(0deg);
			width: 185%;
			height: 200%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			transform-style: preserve-3d;
			perspective: 400px;
			perspective-origin: 50% 0;
			z-index: 1;
			color: rgba(255, 255, 255, 0.15);

			div {
				height: 50%;
			}

			svg {
				height: 100%;
				width: auto;
			}

			opacity: 0;

			&.Clockwise {
				animation: rotate-arrows-clockwise 30s infinite linear;
				transition: opacity .35s linear;
				opacity: 1;
			}

			&.CounterClockwise {
				animation: rotate-arrows-counterclockwise 30s infinite linear;
				transition: opacity .35s linear;
				opacity: 1;
			}

			@keyframes rotate-arrows-clockwise {
				to {
					transform: translate(-50%, -50%) rotateX(60deg) rotateZ(360deg);
				}
			}
			@keyframes rotate-arrows-counterclockwise {
				from {
					transform: translate(-50%, -50%) rotateX(60deg) rotateZ(360deg);
				}
			}
		}
	}

	.UnoOwnedCards {
		grid-area: 3 / 2;
	}
}
