:root {
	--uno-red: #D72600;
	--uno-blue: #0956BF;
	--uno-green: #379711;
	--uno-yellow: #ECD407;
	--uno-black: #171614;
	--uno-card-background: white;
}

.UnoView {
	user-select: none;

	width: 100dvw;
	height: 100dvh;

	display: grid;
	place-items: center;
	grid-template-columns: 10% auto 10%;

	.UnoPlayerDisplay {
		grid-area: 1 / 2;
	}

	.UnoCardDeck {
		grid-area: 2 / 2;
	}

	.UnoUsedCards {
		grid-area: 3 / 2;
	}

	.UnoOwnedCards {
		grid-area: 4 / 2;
	}
}